@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
	margin-right: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
	color:#333;
}

.main-header {
	font-weight: 700;
	margin-left: 20px;
	color: #606060;
}

.main-header .beer {
	color: #fd8e04;
	
}

.overlay {
	display: none;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0,0,0,0.8);
	animation-duration: 0.4s;
}

.overlay .open {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content-box {
	width: 800px;
	margin: 10% auto;
	background-color: #fff;
	min-height: 300px;
	animation-duration: 0.5s;
	box-shadow:  0 0 30px rgba(0,0,0,0.16);
}