.desktop-closeButton {
	position: fixed;
}

.desktop-closeButton:active,
.desktop-closeButton:checked {
	color: #444;	
}
.desktop-closeButton:hover {
	background-color: rgb(249, 255, 217);
}

.mobile-closeButton {
	bottom: 20px;
	right: 20px;
}