
.SimilarList .list { 
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.SimilarList .title {
	margin-left: 10%;
}

@media only screen and (min-width: 1001px) {

	.SimilarList .list {
		width: 900px;
	}
}

@media only screen and (max-width: 1000px) {
	
	.SimilarList {
		flex-basis: 60%;
		flex-shrink: 2;
	}

	.SimilarList .item {
		margin: 0 10px 20px 10px;
	}
}