
.icon {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	animation: loading-spin infinite 5s linear;
	margin: 20px auto;
}

@keyframes loading-spin {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}