
.Page {
	align-items: center;
	flex-flow: column;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

.Page .back-to-list-button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #fff;
	position: relative;
	text-align: center;
	vertical-align: middle;
	color: #333;
	margin: 20px auto;
}

.Page .back-to-list-button:active,
.Page .back-to-list-button:checked {
	color: #444;	
}
.Page .back-to-list-button:hover {
	background-color: rgb(249, 255, 217);
}

@media only screen and (max-width: 1000px) {
	.Page .back-to-list-button {
		position: absolute;
		top: 0px;
		right: 10%;
	}

	.Page {
		flex-flow: row nowrap;
		justify-content: unset;
		align-items: stretch
	}
}
@media only screen and (max-width: 700px) {
	.Page .back-to-list-button {
		position: fixed;
		right: 40px;
		top: calc(100% - 100px)
	}

	.Page {
		flex-flow: column;
	}
}