@import url('https://fonts.googleapis.com/css?family=Roboto');

#root {
	margin-right: auto;
	margin-left: auto;
}

.container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color:#333;
}

.main-header {
	font-weight: 700;
	margin-left: 20px;
	color: #606060;
}

.main-header .beer-part {
	color: #fd8e04;
	
}

.item-list { 
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

#itemList .item {
	margin-bottom: 40px;
}

.preview-top { 
	background-color: #fff;
	height: 270px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: 0.3s;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 200px;
}

.preview-top:hover {
	box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
	background-color: rgb(249, 255, 217);
}

.preview-cover,
.preview-improper-cover {
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 15px;
}
.preview-cover {
	background-size: 35%;
}

.preview-improper-cover {
	background-size: 60%;
}

.preview-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fd8e04;
	margin-top: 10px;
	width: calc(100% - 10px);
	text-align: center;
	font-size: 1.1em;
}

.preview-slogan {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333;
	margin-bottom: 10px;
	text-align: center;
	width: calc(100% - 10px);
	font-size: 0.8em;
}

.opened-top {
	align-items: center;
	display: flex;
	flex-flow: column;
	border-radius: 5px;
	justify-content: center;
}

.opened-overview {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: #fff;
	border-radius: 5px;
	padding: 40px 0;
}

.opened-cover {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.opened-improper-cover {
	margin-top: 1.17em;
	background-size: 70%;
	background-repeat: no-repeat;

}

.opened-text-container {
	display: flex;
	flex-flow: column;
	color:#a4a4a4;
}

.opened-text-container .opened-title{
	margin-bottom: 0.5em;
	color:#333
}
.opened-feature-container {
	display: flex;
	flex-flow: row nowrap;
}

.opened-features-name {
	padding-right: 10px;
}

.opened-features-name strong {
	font-weight: 600;
	color:#333
}

.opened-feature-container,
.opened-description,
.opened-pairing-list {
	padding-top: 20px;
}

.opened-pairing-list p { 
	font-weight: 600;
	margin-bottom: 10px;
	color:#333
}

.opened-pairing-list .pairing-list {
	text-indent: 10px;
}

.pairing-list > div:before {
	content: '- ';
}

.similar-container {
	display: flex;
	flex-flow: column;
	align-items: center
}

.similar-title {
	margin-left: 20px;
	font-weight: bold;
}

.back-to-list-button {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #fff;
	position: relative;
	text-align: center;
	vertical-align: middle;
	color: #333;
	margin: 20px auto;
}

.back-to-list-button:active,
.back-to-list-button:checked {
	color: #444;	
}
.back-to-list-button:hover {
	background-color: rgb(249, 255, 217);
}

.loading {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	animation: loading-spin infinite 5s linear;
}

#itemList .loading {
	margin-bottom: 20px;
}

.similar-container .loading {
	margin-top: 30px;
	
}

@keyframes loading-spin {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
@media only screen and (min-width: 1001px) {
	#root {
		width: 900px;		
	}

	.preview-top {
		width: 200px;		
	}

	.opened-overview {
		width: 700px;		
	}

	.opened-text-container {
		width: 400px;		
	}

	#similarList {
		width: 900px;
	}
}

.overlay {
	display: none;
	position: fixed;
	z-index: 9999;
	background-color: rgba(0,0,0,0.8);
	animation-duration: 0.4s;
}

.overlay .open {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.content-box {
	width: 800px;
	margin: 10% auto;
	background-color: #fff;
	min-height: 300px;
	animation-duration: 0.5s;
	box-shadow:  0 0 30px rgba(0,0,0,0.16);
}

@media only screen and (max-width: 1000px) {
	root {
		max-width: 950px;
		width: 100%;
	}

	.back-to-list-button {
		position: absolute;
		top: 0px;
		right: 10%;
	}

	.opened-top {
		flex-flow: row nowrap;
		justify-content: unset;
		align-items: stretch
	}

	.opened-overview {
		flex-basis: 40%;
		flex-shrink: 0.5;
		flex-flow: column;
		align-items: center;
		padding: 0 20px;
		margin-left: 10px;
	}

	.opened-cover {
		height: 250px !important;
		background-size: 30%;
	}

	.opened-improper-cover {
		background-position: center;
		height: 250px !important;
		background-size: 60%;
	}

	.opened-text-container {
		margin: 0 20px auto 20px;
		width: 100%;
	}

	.opened-pairing-list {
		padding-bottom: 15px;
	}

	.similar-container {
		flex-basis: 60%;
		flex-shrink: 2;
	}
	
	#similarList {
		flex-flow: row wrap;
	}

	.similar-container .item {
		margin: 0 10px 20px 10px;
	}
}

@media only screen and (max-width: 700px) {
	.back-to-list-button {
		position: fixed;
		right: 40px;
		top: calc(100% - 100px)
	}

	.opened-top {
		flex-flow: column;
	}

	.opened-overview {
		border-radius: 0;
		width: calc(100%-40px);
		margin-left: 0;
	}
}